STAGE=dev

POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_DATA_FOLDER=.data/.pg_data

LOKI_DATA_FOLDER=.data/.loki_data

BACKEND_PORT=8888

TLS_CERT_FILE=/etc/letsencrypt/live/rkn.ftp.sh/fullchain.pem
TLS_KEY_FILE=/etc/letsencrypt/live/rkn.ftp.sh/privkey.pem