STAGE=dev

POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_DATA_FOLDER=.data/.pg_data

LOKI_DATA_FOLDER=.data/.loki_data

BOT_TOKEN=123

BACKEND_PORT=8888

TLS_CERT_FILE=/etc/letsencrypt/live/.../fullchain.pem
TLS_KEY_FILE=/etc/letsencrypt/live/.../privkey.pem