PORT=8888
DOMAIN=localhost
TLS_CERT_FILE=/etc/letsencrypt/live/.../fullchain.pem
TLS_KEY_FILE=/etc/letsencrypt/live/.../privkey.pem

STAGE=dev
BOT_TOKEN=123

POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_DATA_FOLDER=.data/.pg_data